<footer class="footer">

  
    <nav class="footer__nav">
      <ul class="footer__nav--articles">
        <li><a href="https://adalab.es/" class="item">zapatillas</a></li>
        <li><a href="https://adalab.es/" class="item">ropa</a></li>
        <li><a href="https://adalab.es/" class="item">niño/a</a></li>
        <li><a href="https://adalab.es/" class="item">destacados</a></li>
        <li><a href="https://adalab.es/" class="item">tips</a></li>
      </ul>

      <nav class="footer__nav--networks"> 
      <ul>
        <li><a href="https://adalab.es/" class="item">twitter</a></li>
        <li><a href="https://adalab.es/" class="item">instagram</a></li>
        <li><a href="https://adalab.es/" class="item">youtube</a></li>
      </ul>
    </nav>

    <ul class="footer__copy">
      <li>&copy; 2023</li>
      <li>we 
        <span class="footer__copy--heart">❤︎</span> run</li>
    </ul>

  </footer>