<section class="container">
    <p class="container__text">¡Prepáralos con tus marcas favoritas!</p>
    <h2 class="container__title" id="school">vuelta al cole</h2>
    
    <ul class="container__articles">
      <li class="school">
        <img
          class="img"
          src="./assets/images/lpbts-mod05-img01-desk.png"
          alt=""
        />
        <p class="description">Mochilas escolares</p>
      </li>
      <li class="case">
        <img
          class="img"
          src="./assets/images/lpbts-mod05-img04-mob.png"
          alt=""
        />
        <p class="description">Estuches</p>
      </li>
      <li class="bagdeport">
        <img
          class="img"
          src="./assets/images/lpbts-mod05-img03-mob.png"
          alt=""/>
        <p class="description">Bolsa de deporte</p>
      </li>
    </ul>

    <a href="#hero" class="container__buttontwo">Empezar ahora</a>
    
    <div class="container__arrowup">
      <a href="#hero"
        ><img src="./assets/images/ico-arrow.svg" alt="Ir arriba" title="Ir arriba"
      /></a>
    </div>
  </section>
</main>