.footer{
    background-color:$color-footer;
    height: 43rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media all and (min-width:768px) {
        height: 24rem;
    }
    
    &__arrowup{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background-color: $color-third;
        transform:translateY(-130%);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem 0 $color-titles;
        
        :hover {
            transform: scale(0.9);
        }
        @media all and (min-width:768px) {
            transform:translateY(-80%);
        }
    }
    &__span{
        font-family: $font-texts;
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 3rem;
        @media all and (min-width:768px){
            display: flex;
            flex-direction: row-reverse;
            align-items: baseline;
            gap: 8rem;
            &--articles{
                order: 2;  
            &--networks{
                order: 3;  
            }
            }   
        }
    
        &--copy{
            font-size: 1.4rem;
            font-family: $font-texts;
            color: $color-third;
            line-height: 3rem;
            margin-top: 1rem;
            order: 1;
            &--heart{
                color:$color-primary;
            }
        }
    } 
}
a{
    color: $color-third;
}