.footer{
    background-color:$color-footer;
    height: 43rem;
    font-family: $font-texts;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 3rem;
    text-align: center;
    color: $color-third;

    @media all and (min-width:768px){
        height: 24rem;
    }
        &__nav{
            @media all and (min-width:768px){
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-content: baseline;
                gap: 15rem;
            }
            @media all and (min-width:1280px){
                gap:30rem;
            }
            &--articles{
                padding-top: 3rem;
                order:2;
            }
            &--networks{
                margin-top: 3rem;
                order: 1;
            }
        .item{
            color: $color-third;
        }
        }

        &__copy{
            font-size: 1.4rem;
            font-family: $font-texts;
            color: $color-third;
            line-height: 3rem;
            order:3;
            
            margin-top: 3rem;
            &--heart{
                color:$color-primary;
            }
        }  
}