.header{
    background-color:$color-primary;
    width: 3.6rem;
    height: 3.6rem;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 1rem;
    @media all and (min-width:768px){
        width: 3.7rem;
        height: 3.7rem;
    }
    &__menu{
        width: 1.8rem;
        height: 1.3rem;
    }
}