.container{
    background-color: $color-secundary;
    display: grid;
    place-content: center;
    gap: 1.5rem;
    text-align: center;
    &__text{
        font-size: 1.2rem;
        font-family: $font-title;
        color: $color-fourth;
        margin-top: 2rem;
    }

    &__title{
        font-size: 2rem;
        font-family: $font-title;
        text-transform: uppercase;
    }

    &__articles{
        display: grid;
        place-content: center;
        gap: 1rem;
        &--img{
            border-radius: 50%;
            width: 11.4rem;
            margin-top: 1.2rem;
            box-shadow: 0 0.4rem 0.4rem 0 $color-fourth;
        }
        &--description{
            font-size: 1.4rem;
            font-family: $font-title;
        }   
    }

    &__buttontwo{
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 18.4rem;
        height: 4.7rem;
        font-family:$font-texts;
        font-size: 2rem;
        color: $color-third;
        background-color: $color-primary;
        border-radius: 3rem;
        text-align: center;
        padding-top: 1rem;
        :hover {
            transform: scale(0.9);
        }
    }
}