.container{
    background-color: $color-secundary;
    text-align: center;
    height: 66rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    @media all and (min-width:768px){
        height: 41rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5rem 5rem 16rem 5rem 5rem;
    }
    &__text{
        font-size: 1.2rem;
        font-family: $font-title;
        color: $color-fourth;
        margin-top:1.5rem;
        grid-row: 1/1;
        @media all and (min-width:768px){
            grid-column: 1/4;
            grid-rows: 1/1;
        }
    }
    &__title{
        font-size: 2rem;
        font-family: $font-title;
        text-transform: uppercase;
       
        grid-row: 2/2;
        @media all and (min-width:768px){
            font-size: 2.8rem;
            grid-column: 2/2;
            grid-rows: 2/2;
        }
    }
    &__articles{
        grid-row: 3/3;

        @media all and (min-width:768px){
            grid-column: 1/4;
            grid-rows: 3/3;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
        .school{
            margin-top:1.5rem;
        @media all and (min-width:768px){
            grid-column: 1/1;
            grid-row: 3/3;
            }
        }
        .case{
            margin-top:1.5rem;
        @media all and (min-width:768px){
            grid-column: 2/2;
            grid-row: 3/3;
            }
        }
        .deportbag{
            margin-top:1.5rem;
            @media all and (min-width:768px){
            grid-column: 3/3;
            grid-row: 3/3;
            }
        }
    }

        
    &__buttontwo{
        width: 18.4rem;
        height: 4.7rem;
        font-family:$font-texts;
        font-size: 2rem;
        color: $color-third;
        background-color: $color-primary;
        padding: 1.5rem;
        margin-top: 3rem;
        border-radius: 3rem;     
        grid-row: 4/4;
        justify-self: center;
        
        @media all and (min-width:768px){
            margin-top: 5rem;
            grid-column: 2/2;
            grid-row: 4/4;
        }
    }
    &__arrowup{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background-color: $color-third;
        justify-self: center;
        padding-top: 1rem;
        box-shadow: 0 0.4rem 0.4rem $color-titles;
        grid-row: 5/5;
        transform: translateY(60%);
        :hover {
            transform: scale(0.9);
            }
        @media all and (min-width:768px){
            transform: translateY(170%);
            grid-column: 2/2;
            grid-row: 5/5;
        }
    }
}
.img{
    border-radius: 50%;
    width: 11.4rem;
    box-shadow: 0 0.4rem 0.4rem 0 $color-fourth;
}
.description{
    font-size: 1.4rem;
    font-family: $font-title;
}