.sectionone{
    margin-left:1.3rem;
    margin-right: 1.7rem;
    height: 35rem;

      @media all and (min-width:768px){
         margin-left:3.7rem;
         margin-right: 3.9rem;
         height: 30rem;
      }
      @media all and (min-width:1280px){
        margin-left:17rem;
        margin-right: 16.8rem;
     }
      &__text{
         font-size: 1.4rem;
         color: $color-primary;
         text-transform: uppercase;
         font-family: $font-texts;
         margin-top: 3.4rem;

         @media all and (min-width: 768){
            font-size: 1.6rem;
          }  
      }
      &__title{
          font-size: 2.2rem;
          color: $color-titles;
          text-transform: uppercase;
          font-family: $font-title;
          margin-top: 0.5rem;

          @media all and (min-width: 768){
            font-size: 3.2rem;
          }            
    }

      &__deport{
          font-size: 1.8rem;
          color: $color-footer;
          font-family: $font-texts;
          margin-top: 1.5rem;
          margin-bottom: 5rem;
          line-height: 1.6;
          
          @media all and (min-width:768px){
            font-size: 2rem;
            width: 69rem;
          }
          @media all and (min-width:1280px){
            width: 100rem;
          }
      }
  &__button{
      margin-top: 5rem;
      color: $color-primary;
      font-family: $font-texts;
      font-size: 2rem;
      background-color: $color-third;
      border: solid 0.3rem;
      border-radius: 2.3rem;
      border-color: $color-primary;
      padding: 1rem;
      padding-left: 8rem;
      padding-right: 8rem;
      width: 16rem;
      
      // padding: 3rem;
      // // margin-top: 5rem;
      // // 
      // width: 16rem;
      // height: 4.5rem;
      
    //   :hover{
    //     background-color: $color-secundary;
    // }
  }
}